<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
</head>
<body>
<h1>Cars List</h1>
<table border="1">
    <tr>
        <th>Model</th>
        <th>Color</th>
        <th>Series</th>
    </tr>
    <th:block th:each="car : ${cars}">
        <tr>
            <td th:text="${car.getModel()}">...</td>
            <td th:text="${car.getColor()}">...</td>
            <td th:text="${car.getSeries()}">...</td>
        </tr>
    </th:block>
</table>
</body>
</html>